.wheel {
  margin: 1rem auto;
  width: 200px;
  height: 200px;
  border: 6px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1.5s ease-out;
}
.segment {
  position: absolute;
  width: 50%;
  text-align: center;
  transform-origin: 100% 50%;
}
